.modal {
  left: 30%;
  top:25%;
  width: 40%;
  height: 35%;
  position: relative;
  max-width: 40%;
  max-height: 35%;
  padding: 0;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.25rem hsl(0 0% 0% / 10%);
}

.modal-close-btn {
  font-size: .75em;
  position: absolute;
  top: .25em;
  right: .25em;
  z-index: 10;


  input[type="text"] {
    width: 100%;
  }}

input[type="text"],
button {
  padding: 0.5em;
  font: inherit;
  line-height: 1;
}

button {
  cursor: pointer;
}

.modal::backdrop {
  background: hsl(0 0% 0% / 50%);
}

